$white: #f3f3f3;
$greyish-brown:#464646;
$blue:#1773dc;
$red:#ff1d23;
$pumpkin-orange:#ff7913;
$details-gray:#8d8d8d;
$breakpoint-desktop:992px;
$black:#161616;
$Gray30:#c6c6c6;

:export {
    white:$white;
    greyish-brown:$greyish-brown;
    blue:$blue;
    red:$red;
    pumpkinOrange:$pumpkin-orange;
    details-gray:$details-gray;
    breakpoint-desktop: $breakpoint-desktop;
    black:$black;
    Gray30:$Gray30;
  }